cainjector:
  nodeSelector: ${istio_oss_stack_default_nodeselector}
nodeSelector: ${istio_oss_stack_default_nodeselector}
startupapicheck:
  nodeSelector: ${istio_oss_stack_default_nodeselector}
webhook:
  nodeSelector: ${istio_oss_stack_default_nodeselector}
