apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  allInOne:
    image: jaegertracing/all-in-one:${spec_allinone_image_version}
    options:
      log-level: info
  resources:
    requests:
      memory: "64Mi"
      cpu: "250m"
    limits:
      memory: "128Mi"
      cpu: "500m"
  affinity: ${affinity}
  ingress:
    enabled: false
  storage:
    options:
      memory:
        max-traces: 50000
    type: memory
  strategy: allInOne
